html {
  box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;;
}

body {
  margin: 0;
  padding: 0;
  font-family: Monaco, Consolas, monospace;
}

code {
  font-family: inherit;
}

code {
  padding: 0 3px;
  background: #f4f4f4;
  border: 1px solid #e4e4e4;
}

.app {
  margin: 0 auto;
  width: 960px;
}

.app-main {
  display: flex;
}

.play-area {
  position: relative;
  width: 620px;
}

.attach-panel {
  width: 340px;
  padding: 20px;
}

.floor {
  border: 10px solid #444;
}

.floor .tile-row {
  display: flex;
}

.floor .tile {
  width: 15px;
  height: 15px;
  background: #ddd;
  border: 1px solid #eee;
}

.floor .egg,
.floor .snake-head,
.floor .snake-joint {
  background: #444;
}

.floor .snake-head {
  position: relative;
}

.floor .snake-head:before,
.floor .snake-head:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  background: #fff;
}

.floor .snake-head.left:before {
  top: 2px;
  left: 4px;
}

.floor .snake-head.left:after {
  bottom: 2px;
  left: 4px;
}

.floor .snake-head.right:before {
  top: 2px;
  right: 4px;
}

.floor .snake-head.right:after {
  bottom: 2px;
  right: 4px;
}

.floor .snake-head.up:before {
  top: 4px;
  left: 2px;
}

.floor .snake-head.up:after {
  top: 4px;
  right: 2px;
}

.floor .snake-head.down:before {
  bottom: 4px;
  left: 2px;
}

.floor .snake-head.down:after {
  bottom: 4px;
  right: 2px;
}

.floor .egg {
  border-radius: 7px;
  overflow: hidden;
}

.game-status-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-status-info > p {
  margin-top: 200px;
  padding: 10px 20px;
  background: rgba(255,255,255,.9);
  border: 2px solid #444;
}

.attach-panel .score {
  font-size: 20px;
}

.attach-panel .score-value {
  font-size: 24px;
}

.attach-panel .man-info {
  font-size: 12px;
  color: #666;
}

.attach-panel .man-info ul li {
  margin-bottom: .5em;
}